html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* IMPEDE DE SELECIONAR O TEXTO  */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body a {
  text-decoration: none;
  color: rgb(129, 63, 252);
}

main {
  height: 100vh;
  width: 100vw;
}

main {
  background-image: url("../../assets/wallpaper7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

svg {
  fill: white;
}

#__logon_animation {
  /* src: https://freefrontend.com/css-animated-backgrounds/  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition: transform 0.1s;
  overflow: hidden;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation-duration: 3s;
  animation: gradient 3s ease;
}

#__logon_animation span {
  color: white;
  font-weight: 400;
  font-size: 2.3rem;
  margin-bottom: 30px;
}

#__logon_animation i {
  color: white;
}

#__logon_animation.unactive {
  /* z-index: -1000; */
  transform: scale(0);
}

.__link_in_text {
  font-size: inherit !important;
  font-weight: bold !important;
  color: rgb(129, 63, 252) !important;
}

/* -------------------------- DESKTOP 
 */
.__desktop {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100vw;
}

.__desktop_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 8px;
  margin-left: 5px;
  margin-top: 5px;
  border: solid 1px transparent;
  border-radius: 2px;
  cursor: pointer;
}

.__desktop_icon.animate {
  animation: 0.4s ease-in-out 0s slideInFromLeft;
}

.__desktop_icon.focused {
  border: solid 1px hsla(0, 0%, 78.4%, 0.3);
  background-color: hsla(0, 0%, 78.4%, 0.15);
}

.__desktop_icon.focused:hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__desktop_icon:hover {
  border: solid 1px hsla(0, 0%, 78.4%, 0.3);
  background-color: hsla(0, 0%, 78.4%, 0.15);
}

.__desktop_icon img {
  width: 50px;
  margin-bottom: 5px;
}

.__desktop_icon svg {
  margin-bottom: 8px;

  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.__desktop_icon span {
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: whitesmoke;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.__trashcan_icon {
  position: absolute;
  right: 10px;
  bottom: calc(5% + 5px);
}

/* ----------------------------- WINDOW  */
.__window {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 500px;
  max-height: 500px;
  z-index: 10;
  top: 20%;
  left: 25%;
  transition: transform 0.1s, width 0.1s, height 0.1s;
  transform-origin: bottom left;
  /* overflow: hidden; */

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.__window.focused {
  z-index: 1000 !important;
}

.__window.last_focused {
  z-index: 999;
}

.__window.focused .__window_top_bar {
  background-color: #121212;
}

.__window_fullscren {
  width: 100%;
  height: 95% !important;
  top: 0 !important;
  left: 0 !important;
  max-height: 95% !important;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.__window_minimized {
  transform: scale(0);
  z-index: -1000 !important;
}

.__window_top_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5% !important;
  /* min-height: 30px; */
  padding: 0px;
  background-color: #191919;
}

.__window_top_bar span {
  width: 80%;
  padding-left: 8px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: default;
}

.__window_top_bar svg {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

.__window_top_bar svg:hover {
  fill: #9c9c9c;
}

.__window_content {
  width: 100%;
  height: 95%;
  background-color: #212121f5;
  color: white;
  transition: background-color 0.3s;
}

.__window_content > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.3s;
}
.__window_fullscren .__window_content > div {
  padding-left: 8rem;
  padding-right: 8rem;
}

.__window_content h1 {
  margin-top: 20px;
  font-size: 2.6rem;
  font-weight: bold;
  transition: font-size 0.2s;
}

.__window_fullscren .__window_content h1 {
  font-size: 3.6rem;
}

.__window_content h2 {
  font-size: 1.8rem;
  border-bottom: solid 1px #7a7a7a;
  margin-top: 20px;
  font-weight: 500;
  transition: font-size 0.3s;
}

.__window_fullscren .__window_content h2 {
  font-size: 2.3rem;
}

.__window_content p {
  margin-top: 30px;
  text-align: justify;
  font-size: 1.1rem;
  transition: font-size 0.2s;
  font-weight: 300;
}

.__window_fullscren .__window_content p {
  font-size: 1.3rem !important;
}

.__window.focused .__window_content {
  background-color: #212121e7;
}

.__window.focused.__window_fullscren .__window_content {
  background-color: #212121ef;
}

/* ------------------------- MENU */
.__menu_options {
  /* width: 350px; */
  display: flex;
  height: 300px;
  flex-direction: column;
  max-height: 0%;
  overflow: hidden;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 5%;
  left: 0;
  color: whitesmoke;
  transition: max-height 1s;
}
/* MENU ATIVO  */
.__menu_options.active {
  z-index: 10000 !important;
  max-height: 100%;
}
/* MENU DESATIVADO  */
.__menu_options.unactive {
  z-index: -10;
}

.__menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
}

.__menu_item:hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
  cursor: pointer;
}

.__menu_item p {
  margin-left: 10px;
}
/* ----------------- SEARCH BAR  */
.__menu_power {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.__menu_power svg {
  padding: 10px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.__menu_power svg.hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__menu_power svg:hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__menu_power svg:hover + span {
  background-color: hsla(0, 0%, 78.4%, 0.3);
  max-width: 70%;
}

.__menu_power span {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  outline: none;
  overflow: hidden;
  max-width: 0%;
  transition: max-width 0.5s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.__menu_power span:hover {
  max-width: 70%;
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__menu_power span:hover .__menu_power svg {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

/* ------------------------ BARRA DE TAREFAS */
task_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 5%;
  width: 100vw;
  z-index: 10000;
  /* background-color: blue; */
  /* background-color: transparent; */
  /* background-color: #f5f5f5; */
  background-color: rgba(0, 0, 0, 0.8);
}

/* ---------------------------- ITEMS BARRA DE TAREFAS */
#_taskbar_icons {
  display: flex;
  height: 100%;
}
.__task_bar_icon {
  border-left: solid 1px #7a7a7a;
  border-right: solid 1px #7a7a7a;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s;
  cursor: pointer;
}

.__task_bar_icon span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.__task_bar_icon.focused {
  background-color: #444444;
}
.__task_bar_icon:hover {
  background-color: #444444;
}

.menu_icon {
  /* background-color: white; */
  border: none;
  border-radius: 0px;
  margin: 0px;
}

/* ----------------- DATA BARRA DE TAREFAS  */
.__date_time {
  display: flex;
  margin-right: 8px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  color: whitesmoke;
  font-size: 0.9rem;
  font-weight: 100;
}

.__date_time:hover {
  cursor: default;
}

/* ---------------------- CONTEXT MENU  */
.__context_menu {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 200px;
  /* height: 120px; */
  background-color: #212121b4;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.3s;
  transform-origin: top left;
  z-index: -1;
}

.__context_menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.__context_menu li {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 30px;
  width: 100%;
  color: white;
  font-weight: 100;
  transition: background-color 0.3s;
  cursor: pointer;
}

.__context_menu li:hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__context_menu.active {
  z-index: 1000;
  transform: scale(1);
}
/* ---------------------- OUTROS */
.row {
  display: flex;
  flex-direction: row;
}

/* ---------------------- SCROLL BAR */

._scrollbar::-webkit-scrollbar {
  /* width: 15px !important; */
  height: 15px !important;
}

/* ._scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

._scrollbar::-webkit-scrollbar-thumb {
  background-color: #303030;
  /* outline: 1px solid slategrey;  */
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/* ---------------------- ABOUT ME  */
.__window_fullscren .__about_me {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}

.__about_me h2 {
  margin-top: 10px;
}

.__about_me img {
  /* width: 150px; */
  height: 200px;
  border-radius: 5%;
  border: solid 2px white;
  object-fit: contain;
  margin-top: 30px;
  margin-left: 20px;
}

.__about_me p {
  padding: 20px;
}

/* -------------- PROJECTS  */
.__projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 3rem;
  padding-right: 3rem;
}

.__projects h2 {
  width: 100%;
}

.__projects ul {
  margin-top: 16px;
}

.__window_fullscren .__projects ul {
  margin-top: 50px;
}

.__projects li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: solid 1px #9c9c9c;
  margin-bottom: 10px;
  margin-top: 30px;
}

.__window_fullscren .__projects li {
  margin-bottom: 50px;
}

.__projects li:last-of-type {
  border: none;
}

.__projects a {
  /* width: 100%; */
  color: whitesmoke;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.__projects a:hover {
  transition: color 0.3s;
  color: rgb(129, 63, 252);
}

.__window_fullscren .__projects a {
  font-size: 2.1rem;
}

.__window_fullscren .__projects img {
  margin-top: 30px;
}

.__projects span {
  text-align: justify;
  font-size: 1rem;
  margin-bottom: 20px;
}

.__window_fullscren .__projects span {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.__projects img {
  width: 90%;
  object-fit: contain;
  margin: 20px;
}

.__window_fullscren .__projects img {
  width: 80%;
  object-fit: contain;
  margin: 20px;
}

/* ------------------------- CAROUSEL  */
.__carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: 25px;
}

.__carousel img {
  width: 50%;
  margin: 10px;
  object-fit: contain;
  max-height: 500px;
}

.__tweet {
  max-height: 300px;
  overflow-y: scroll;
  width: 75%;
  /* background-color: #ffffff; */
  background-color: #121212;
  margin: 30px 0;
}
.__window_fullscren .__tweet {
  width: 70%;
}

/* ------------------------ SKILLS  */
.__skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */
  overflow-x: hidden;
  padding-left: 3rem;
  padding-right: 3rem;
}

.__skills h2 {
  width: 100%;
}

.__skills ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
}

.__skills li {
  margin: 10px;
  transition: transform 0.2s, background-color 0.2s;
}

.__skills li:hover {
  transform: scale(1.1);
  background-color: #303030;
}

.__skills img {
  width: 96px;
  height: 96px;
  object-fit: contain;
  padding: 5px;
  transition: width 0.3s, height 0.3s;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.__window_fullscren .__skills img {
  width: 196px;
  height: 196px;
}

/* -------------------------- CONTACT  */

.__contact ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
}

.__contact img {
  width: 96px;
  height: 96px;
  object-fit: contain;
  margin: 10px;
  border-radius: 5px;
  transition: transform 0.3s, background-position 0.5s;
  cursor: pointer;
  background-size: 100% 200%;
  background-image: linear-gradient(
    to top,
    hsla(0, 0%, 78.4%, 0.3) 50%,
    transparent 50%
  );
}

.__contact img:hover {
  transform: scale(1.1);
  background-position: bottom;
}

/* ---------------------------- ABOUT PROJECT  */
.__about_project p {
  text-indent: 2rem;
}

/* ------------------------------ CONFIG  */
.__config h1 {
  font-size: 2rem;
}

.__config ul {
  margin: 50px;
}

.__config li {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background-color: hsla(0, 0%, 78.4%, 0.3);
  transition: background-color 0.3s;
  cursor: pointer;
}

.__config li:hover {
  background-color: hsla(0, 0%, 78.4%, 0.4);
}

.__config li span {
  margin-left: 10px;
}

.__config_base {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  padding: 0px !important;
}

.__config_button_back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 10px 30px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.__config_button_back:hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__config_button_back span {
  margin-left: 5%;
  font-size: 1.1rem;
}

.__window_fullscren .__config_button_back span {
  font-size: 1.7rem;
}

.__config_list {
  height: 100%;
  width: 30%;
  background-color: rgba(18, 18, 18, 0.521);
}

.__config_list ul {
  margin: 0px;
  padding-top: 20%;
}

.__config_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  background-color: hsla(0, 0%, 78.4%, 0.15);
  transition: background-color 0.3s;
  cursor: pointer;
}

.__config_list li:hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__config_list li span {
  margin-left: 10%;
}

.__config_list li svg {
  width: 25px !important;
  height: 25px !important;
}

.__config_content {
  display: flex;
  padding-left: 2rem;
  /* padding-right: 2rem; */
  /* justify-content: center; */
  width: 70%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  overflow: auto;
  overflow-x: hidden;
}

.__config_content h1 {
  font-size: 2rem;
  font-weight: 500;
}

.__config_content h2 {
  font-size: 1.4rem;
  font-weight: 300;
}

.__config_content select {
  margin-top: 20px;
  background-color: transparent;
  border: solid 1px #ffffff;
  color: #fff;
  padding: 6px 20px;
  outline-style: none;
}

.__config_content option {
  background-color: #121212;
  color: #fff;
  border: none;
}

.__config_content option:hover {
  background-color: hsla(0, 0%, 78.4%, 0.15);
}

.config1 div {
  overflow: hidden;
  padding: 8px;
  transition: transform 0.3s;
}

.config1 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}

.config1 li {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  margin-top: 5px;
  flex-basis: 30%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.config1 li:hover {
  border: 2px solid #fff;
  background-color: hsla(0, 0%, 78.4%, 0.3) !important;
  transform: scale(1.1);
}

.__opt_image img {
  width: 100%;
  object-fit: contain;
}

.__opt_image.shown {
  max-height: 100%;
  transform: scale(1);
}
.__opt_image.hidden {
  max-height: 0%;
  transform: scale(0);
}

.__load_img {
  width: 100px;
  background-color: hsla(0, 0%, 78.4%, 0.15);
}

.__load_img label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.__load_img input {
  display: none;
}

.__opt_colors li div {
  width: 100%;
  height: 70px;
  padding: 0px;
}

.__window_fullscren .__opt_colors li div {
  height: 110px;
}

.__opt_colors.shown {
  max-height: 100%;
  transform: scale(1);
}
.__opt_colors.hidden {
  max-height: 0%;
  transform: scale(0);
}

.__load_color {
  width: 100px;
  background-color: hsla(0, 0%, 78.4%, 0.15);
}

.__load_color label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;

  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.__load_color input {
  position: absolute;
  overflow: hidden;
  transform: scale(0);
}

/* --------------------------- TRASHCAN  */
.__trashcan {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  width: 100%;
}

.__trashcan .__colum_names {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}

.__trashcan .__colum_names span:first-child {
  border-left: none;
}

.__trashcan .__colum_names span {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 33%;
  text-indent: 10px;
  font-weight: 400;
  border-left: solid 1px #616161;
  font-size: 1.1rem;
}

.__trashcan ul {
  width: 100%;
  margin-top: 5px;
}

.__trashcan li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: solid 1px #616161; */
  transition: background-color 0.3s;
  cursor: pointer;
}

.__trashcan li.focused {
  background-color: hsla(0, 0%, 78.4%, 0.2);
}

.__trashcan li:hover {
  background-color: hsla(0, 0%, 78.4%, 0.3);
}

.__trashcan li span {
  flex-basis: 33%;
  padding: 5px 10px;
  font-weight: 100;
}

/* ---------------------------- OLD PORTFOLIO  */
[data-app="old_portfolio"] {
  transform: scale(1) !important;
}
.__old_portfolio {
  position: absolute;
  padding: 0px !important;
  width: 100%;
}
.__old_portfolio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.__under_development {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 50%;
  right: 10%;
  font-size: 8rem;
  font-weight: 500;
  color: white;
  opacity: 0.2;
  z-index: 0;
}

/* ------------------------ ANIMATIONS  */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
